<div class="six columns">
	<ul class="invites"></ul>
</div>
<div class="six columns offset-by-one">
	<ul class="invites"></ul>
	<ul class="current-hm-games"></ul>
	<ul class="current-ttt-games"></ul>
</div>


<script>	

$(function(){
	getMessages();
});

</script>