<h4>Welcome to some games.</h4>
<form action="/hangman" method="post">
	<input type="submit" value="Play Hangman">
</form>
<form action="/ttt" method="get">
	<input type="submit" value="Play Tic-Tac-Toe">
</form>
