<nav class="nav-down sixteen columns">
	<ul class="navbar">
		<li><a href="/">Home</a></li>
		<li><a href="/users/<%= current_user.id %>">Profile</li></a>
		<li class="logout">
			<form action="/sessions" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Log-Out" class="auth-button">
			</form>
		</li>
	</ul>
</nav>
