<nav class="nav-down sixteen columns">
	<ul class="navbar">
		<li><a href="/">Home</a></li>
		<li><a href="/users/new">Sign-Up</a></li>
		<li><a href="/sessions/new">Log In</a></li>
	</ul>
</nav>
</div>